<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

	<Identity Name="c76e144c-92ad-4b8f-93f4-232d1ccddaf0" Publisher="CN=nventive" Version="1.0.0.0" />

	<Properties>
		<DisplayName>ApplicationTemplate</DisplayName>
		<PublisherDisplayName>ApplicationTemplate</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.18362.0" MaxVersionTested="10.0.18362.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.18362.0" MaxVersionTested="10.0.18362.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
				Executable="$targetnametoken$.exe"
				EntryPoint="$targetentrypoint$">
			<uap:VisualElements
				DisplayName="ApplicationTemplate"
				Description="ApplicationTemplate"
				BackgroundColor="#0D59CD"
				Square150x150Logo="Assets\MediumTile.png"
				Square44x44Logo="Assets\AppIcon.png">
			</uap:VisualElements>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
	</Capabilities>
</Package>