<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ApplicationTemplate</string>
	<key>CFBundleIdentifier</key>
	<string>com.nventive.internal.applicationtemplate</string>
	<key>CFBundleShortVersionString</key>
	<string>1.99.99</string>
	<key>CFBundleVersion</key>
	<string>1.99.99</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/segmdl2.ttf</string>
		<string>Fonts/Guillon-Bold.ttf</string>
		<string>Fonts/Guillon-Regular.ttf</string>
		<string>Fonts/Guillon-SemiBold.ttf</string>
		<string>Fonts/Guillon-Light.ttf</string>
		<string>Fonts/Roboto-Regular.ttf</string>
		<string>Fonts/Roboto-Medium.ttf</string>
	</array>
	<key>CFBundleIconFiles</key>
	<array/>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
	<key>UILaunchImageMinimumOSVersion</key>
	<string>11.0</string>
	<key>UILaunchImageOrientation</key>
	<string>Portait</string>
	<key>UILaunchImageSize</key>
	<string>{320, 568}</string>
	<key>UILaunchImageName</key>
	<string>Default-568h</string>
</dict>
</plist>
